@model ModelCL.Product
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div>
        Product ID
    </div>
    <div>
        @Model.ProductID
    </div>
    <div>
        Product Name
    </div>
    <div>
        @Model.ProductName
    </div>
    <div>
        UnitsInStock
    </div>
    <div>
        @Model.UnitsInStock
    </div>
</body>
</html>
